.logo {
  max-width: 150px;
  height: auto;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .logo {
    max-width: 120px;
  }

  .caixa-branca {
    padding: 15px;
  }

  .border-direita {
    border-right: none; /* Remove a borda em telas pequenas */
    border-bottom: 0.1px solid #747474; /* Adiciona borda inferior para dividir as seções */
  }
}

@media (max-width: 576px) {
  .logo {
    max-width: 100px;
  }
}

.caixa-branca {
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 2px 5px black;
  padding: 30px;
}

.btn-color {
  background-color: #c16747;
  color: white;
}

.cor-text {
  color: #747474;
}

.login-button {
  border: 1px solid #b9b9b9;
  color: #747474;
}

@media (min-width: 992px) {
  .caixa-branca {
    padding: 50px;
  }

  .login-button {
    width: 360px;
    max-width: 100%;
  }
}
