<a routerLink="/"><img src="../../../../assets/icons/logo.png" alt="logo" class="logo img-fluid" /></a>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8 caixa-branca">
      <div class="row">
        <!-- Formulário de cadastro -->
        <div class="col-12 col-md-6 border-direita p-4">
          <h5 class="cor-text text-center mb-4"><b>Cadastro</b></h5>
          <form [formGroup]="formUsuario" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <input type="text" class="form-control" placeholder="Nome Completo*" formControlName="nomeCompleto" required>
            </div>
            <div class="mb-3">
              <input type="number" class="form-control" placeholder="CPF*" formControlName="cpf" required>
              <div class="form-text text-danger" *ngIf="isFormControlInvalid('cpf')">O CPF deve conter 11 números.</div>
            </div>
            <div class="mb-3">
              <input type="text" class="form-control" placeholder="Usuário*" formControlName="usuario" required>
              <div class="form-text text-danger" *ngIf="isFormControlInvalid('usuario')">O usuário deve conter pelo menos 6 caracteres.</div>
            </div>
            <div class="mb-3">
              <input type="email" class="form-control" placeholder="E-mail*" formControlName="email" required>
            </div>
            <div class="mb-3">
              <input type="password" class="form-control" placeholder="Senha*" formControlName="senha" required>
              <div class="form-text text-danger" *ngIf="isFormControlInvalid('senha')">A senha deve conter pelo menos 6 caracteres.</div>
            </div>
            <div class="form-check mb-3">
              <input type="checkbox" class="form-check-input" [(ngModel)]="aceitouTermos" (change)="aceitouTermos = !aceitouTermos" required>
              <label class="form-check-label">Eu li e aceito os <a (click)="abrirTermosCondicoes()" class="link cor-text">Termos e Condições</a>.</label>
            </div>
            <button type="submit" class="btn btn-color form-control">Cadastrar-se</button>
          </form>
          <div class="mt-3 text-center">
            <p>Já tem sua conta? <a routerLink="/login" class="cor-text"><b>Entrar em sua conta</b></a></p>
          </div>
        </div>
        
        <!-- Opções de login com redes sociais -->
        <div class="col-12 col-md-6 text-center p-4">
          <h5 class="cor-text mb-4"><b>Continuar com</b></h5>
          <button class="btn login-button mb-3 w-100"><img src="../../../../assets/icons/google.png" width="25px" /> Entrar com <b style="color: rgb(225, 0, 0);">Google</b></button>
          <button class="btn login-button mb-3 w-100"><img src="../../../../assets/icons/facebook.png" width="25px" /> Entrar com <b style="color: rgb(0, 0, 199);">Facebook</b></button>
          <button class="btn login-button mb-3 w-100"><img src="../../../../assets/icons/apple.png" width="25px" /> Entrar com <b style="color: black;">Apple</b></button>
          <p class="mt-3">Você é uma empresa? <a routerLink="/criar-conta-empresa" class="cor-text"><b>Cadastre-se grátis aqui.</b></a></p>
        </div>
      </div>
    </div>
  </div>
</div>
